In [53]:
import pandas as pd

In [54]:
df = pd.read_csv("/media/sandeep/sandeep files1/github/data analytics/data files/gapminder-FiveYearData.csv")

In [55]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [56]:
print(df.shape)

(1704, 6)

In [18]:
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [19]:
print(df.dtypes)

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [20]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
year         1704 non-null int64
pop          1704 non-null float64
continent    1704 non-null object
lifeExp      1704 non-null float64
gdpPercap    1704 non-null float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [21]:
print(df.head())

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [26]:
country_df = df['country']
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [31]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [33]:
country_df = df[['country', 'year', 'pop']]
print(country_df.head())

       country  year         pop
0  Afghanistan  1952   8425333.0
1  Afghanistan  1957   9240934.0
2  Afghanistan  1962  10267083.0
3  Afghanistan  1967  11537966.0
4  Afghanistan  1972  13079460.0

In [39]:
print(df.loc[-1])

KeyError: -1

In [38]:
print(df.iloc[-1])

country         Zimbabwe
year                2007
pop          1.23111e+07
continent         Africa
lifeExp           43.487
gdpPercap        469.709
Name: 1703, dtype: object

In [41]:
print(df.tail(1))

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [43]:
print(df.loc[[0,99,102]])

         country  year         pop continent  lifeExp   gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801  779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453  721.186086
102   Bangladesh  1982  93074406.0      Asia   50.009  676.981866

In [44]:
print(df.iloc[[0,99,102]])

         country  year         pop continent  lifeExp   gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801  779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453  721.186086
102   Bangladesh  1982  93074406.0      Asia   50.009  676.981866

In [49]:
(df.loc[:, ['pop','country', 'year']].head())

          pop      country  year
0   8425333.0  Afghanistan  1952
1   9240934.0  Afghanistan  1957
2  10267083.0  Afghanistan  1962
3  11537966.0  Afghanistan  1967
4  13079460.0  Afghanistan  1972

In [ ]:
small